<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Solar System</title>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Lora">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/Normalize.css">
    <link rel="icon" href="../imgs/l3" type="image/gif" sizes="20x20"  >

  </head>

<body>

  <section id="home"  >
    <div class="hero">
      <div class="container">

      <header id="list" >
      </header>
      
    </div>
    <h1>Let the sun pay your bills.
      <span><i class="fas fa-solar-panel"></i></span>
    </h1>
    

  </div>




  </section>


  <section  id="about">
    <div class="url">
    <div class="container">


      <div class="left ">
        <h1>We Have in Store</h1>
        <p>Sed sagittis sodales lobortis. Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus egetmagna aliquet ultricies. Praesent gravida hendrerit ex, nec eleifend sem convallis vitae.</p>
      </div>

      <div class="right ">
        <div >
          <i class="icon fas fa-solar-panel fa-4x"></i>
          <h1>Pannels</h1>
          <p>Strong Local Economy & Low Energy Consumption.</p>

        </div>
        <div >
          <i class=" icon fas fa-battery-full fa-4x"></i>
          <h1>Battery</h1>
          <p>Smart Investment & Positive publicity.</p>

        </div>
        <div >
          <i class=" icon fas fa-lightbulb fa-4x"></i>
          <h1>GardenLight</h1>
          <p>Energy Independence & Clean Energy.</p>

        </div>
        <div >
          <i class="icon fas fa-road fa-4x"></i>
          <h1>StreetLight</h1>
          <p>Unique Educational opportunity for students and Low Electricity Bills.</p>

        </div>

      </div>

    </div>
  </div>


  </section>


  <section >
  </section>


  <section id="Market">

    <div class="container">

    <div class="items">

    <h1>items in the market</h1>
    <div  >
      <img src="../imgs/100.png" alt="">
      <p>100 Watt</p>
      <span>100$</span>
    </div>
    <div >
      <img src="../imgs/150w.png" alt="">
      <p>150 Watt </p>
      <span>120$</span>
    </div>
    <div  >
      <img src="../imgs/200w.png" alt="">
      <p>200 Watt</p>
      <span>140$</span>
    </div>
    <a  href="market.html" class="button"><span>Market </span></a>
  </div>
  </div>


  </section>


  <section  id="skills">

    <div class="container">
      <div class="skills">


      <h1>Solar Plans & Services</h1>

    <div class="b">
      <h1><i class="fas fa-solar-panel"></i></h1>
      <p>Pannels</p>
      <span>Lock in low energy rates and enjoy 100% <br> peace of mind with Sunrun’s Lease or PPA Plans.</span>

    </div>
    <div class="b" >
      <h1><i class="fas fa-battery-full"></i></h1>
      <p>Battery</p>
      <span>Keep the energy you produce,<br>use it when electricity rates are highest or during a power outage.</span>

    </div>
    <div class="b" >
      <h1><i class="fas fa-lightbulb"></i></h1>
      <p>GardenLight</p>
      <span>Own your system and your savings for life,<br> while avoiding rising energy costs with Sunrun’s Purchase Plans.</span>

    </div>
    <div class="b" >
      <h1><i class="fas fa-road"></i></h1>
      <p>StreetLight</p>
      <span>Own your system and your savings for life,<br> while avoiding rising energy costs with Sunrun’s Purchase Plans.</span>

    </div>
    
  </div>
  </div>


  </section>

  <section >
    <div class="container">
      <div class="cup">
        <div class="leftt">
          <h1>5000</h1>
          <p>customers trust us</p>
          <img src="../imgs/aa.png" alt="">
          
          


        </div>
        
        <div class="rightt">
          
          <h1>Come home to clean energy</h1>
          <p>No clean energy development is complete without extensive environmental protections, and I've been proud to work in a bipartisan fashion with my colleagues in Congress to protect our most precious natural resources. Elise Stefanik.</p>
        </div>
      </div>

    </div>
  </section>


  <footer id="Contact"  >

  <img src="../imgs/fotterlogo.png" alt="">
  <div class="container">
    <div class="footer">

    <p>Many People Are Aware that solar is a great efficiency upgrade <br> And are eager to reduce their carbon food print.</p>
  <address class="leftA">
    Chicago, IL 60606 <br></br>
    123, New Lenox

  </address>
  <address class="rightA">
    Phone: 888-456-7890 <br></br>
    Fax: 889-098-7654
  </address>

  <ul>
    <li id="t"><i class="fab fa-twitter"></i></li>
    <li id="f"><i class="fab fa-facebook"></i></li>
    <li id="i"><i class="fab fa-instagram"></i></li>
    <li id="l"><i class="fab fa-linkedin"></i></li>

  </ul>


  </div>

  </div>


  </footer>












          <script src="../js/jquery.js"></script>
          <script src="../js/main.js"></script>
          <script src="../js/fontawesom.js"></script>

      </div>
</body>

</html>
