<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Market</title>

    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="../css/market.css">
    <link rel="stylesheet" href="../css/Normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Lora">
    <link rel="icon" href="../imgs/l3" type="image/gif" sizes="20x20"  >
</head>
<body>
    <div class=" hero">
    <div class="container">

    <header >
      
      <ul>
        <li ><a href="home.html#home">Home</a> </li>
        <li ><a href="home.html#about">About</a></li>
        <li ><a href="login.html">Login</a></li>
        <li ><a href="register.html">Register</a></li>
        <li ><a href="home.html#Contact">Contact</a></li>
      </ul>

        </div>

    </header>
    
    <div class="menu">

      <div class="container">
        <h1>Our Market</h1>
        <ul>
          <li><a data-s=".panel" href="#">Panels</a></li>
          <li><a data-s=".battery" href="#">Battery</a></li>
          <li><a data-s=".garden" href="#">GardenLight</a></li>
          <li><a data-s=".street" href="#">StreetLight</a></li>

        </ul>

        
        <div class="items">

          
          <div class="none panel f " >
            <img src="imgs/100.png" alt="">
            <p>100 Watt</p>
            <span>100$</span>
            <br>
            <a  href="panel1.html" class="button"><span>More Infos </span></a>
          </div>
          




          <div class="none battery f " >
            <img src="imgs/b1.png" alt="">
            <p>100 Watt</p>
            <span>100$</span>
            <br>
            <a  href="battery1.html" class="button"><span>More Infos </span></a>
          </div>


          <div class="none garden f " >
            <img src="imgs/garden1.jpg" alt="">
            <p>100 Watt</p>
            <span>100$</span>
            <br>
            <a  href="garden1.html" class="button"><span>More Infos </span></a>
          </div>
          

          <div class="none street f " >
            <img src="imgs/street1.png" alt="">
            <p>100 Watt</p>
            <span>100$</span>
            <br>
            <a  href="street1.html" class="button"><span>More Infos </span></a>
          </div>
          

          


        </div>
       

      </div>

    </div>

    

  </div>


  <script src="js/jquery.js"></script>
        <script src="js/market.js"></script>
        <script src="js/fontawesom.js"></script>
</body>
</html>